/* common */
body { margin: 0px; } /* removes the margins around the hosts bar */
div.title { text-align: center; font-weight: bold; font-size: 2em; }
a { text-decoration: none; }
.header { text-align: center; background-color: grey; color: white; font-weight: bold; font-size: 1.2em; }


/* overview page */
#host-bar { background-color: black; } /* hosts bar */
#host-bar div { margin: 0 .5em; display: inline-block; color: white; font-weight: bold; font-size: 1.2em; } /* "hosts" text */
#host-bar a.host { margin-left: .5em; margin-top: .2em; border-radius: .3em .3em 0 0; padding: .3em; text-align: center; display: inline-block; color: white; background-color:#444444; font-weight: bold; } /* hosts buttons */
#host-bar a.host:hover  { background-color: #555555; } /* host button being hovered */
#host-bar a.host.selected { background-color: white; color: black; } /* host botton of selected host */

#graphs { margin-left: auto; margin-right: auto; }
#graphs td.timespan { border-radius: .2em .2em 0 0; } /* timespan headers (top) */
#graphs td.template { border-radius: .5em 0 0 .5em; padding-left: 1em; padding-right: 1em; } /* template headers (left) */



/* detail page */
#detail { margin-left: auto; margin-right: auto; }
#detail a.timespan { display: inline-block; width: 100%; border-radius: .2em; } /* timespan buttons */
#detail a.timespan:hover { background-color: #555555; } /* timespan button being hovered */
#detail a.timespan.selected { background-color: black; } /* timespan button of selected timespan */



/* footer */
#footer { text-align: center; color: grey; }
#footer a { color: grey; text-decoration: underline; }
